#ignore these file types
.DS_Store
.DS_Store?

#ignore these folders
/caravan-ios.xcodeproj/xcuserdata
/caravan-ios.xcworkspace/xcuserdata
/caravan-ios.xcodeproj/project.xcworkspace/xcuserdata
/Pods/Pods.xcodeproj/xcuserdata
/Pods/
